.main-content {
	height: 100vh; /* vh = viewport height */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none;    /* Firefox */
}
.main-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


/*
 *  Heading container box
 */

.heading-box {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background-color: #393939;
	z-index: 10;
}

.heading-bg {
	background-image: url('../img/znak_outline_cel.svg');
	background-repeat: no-repeat;
	background-position: -5vw 10vh;
	background-size: 80vh;
}

.heading-number {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 20vmin;
	padding-bottom: 2vh;
	font-family: 'Rubik Black', sans-serif;
	font-weight: bold;
	font-size: 32vh;
	color: #48AC33;
}

.heading-title {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10vmin;
	margin-right: 5vmin;
	padding-bottom: 2vh;
	text-align: left;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 10vh;
	line-height: 11vh;
}

.heading-next {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2rem;
	padding-right: 1rem;
	text-align: right;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 6vh;
	line-height: 6vh;
	cursor: pointer;
}

#start {
	height: 6rem;
	padding-left: 3rem;
}


/*
 *  Cover image container box
 */

.cover-box {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #393939;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cover-img {
	left: 0;
	top: 0;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index:5;
}

.cover-img#part11,
.cover-box#part11 {
	background-image: url('../media1/cover11.jpg');
}

.cover-img#part12,
.cover-box#part12 {
	background-image: url('../media1/cover12.jpg');
}

.cover-img#part13,
.cover-box#part13 {
	background-image: url('../media1/cover13.jpg');
}

.cover-img#part14,
.cover-box#part14 {
	background-image: url('../media1/cover14.jpg');
}

.cover-img#part15,
.cover-box#part15 {
	background-image: url('../media1/cover15.jpg');
}

.cover-img#part16,
.cover-box#part16 {
	background-image: url('../media1/cover16.jpg');
}

.cover-box#part21 {
	background-image: url('../media2/cover21.jpg');
}

.cover-box#part31 {
	background-image: url('../media3/cover31.jpg');
}

.cover-box-title {
	position: absolute;
	width: 60%;
	height: 30vh;
	margin-top: 35vh;
	margin-left: 40%;
	padding: 3vh 4vw;
	color: #393939;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 8vh;
	line-height: 7.6vh;
	z-index: 10;
	background-color: rgba(255,255,255,.7);
}

.cover-box-title .green {
	color: #48AC33;
	
}


/*
 *  Introduction container box
 */

.intro-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background: #0C55A3 url('../img/ozadje_modrozeleno.svg') no-repeat center left;
	background-size: auto 100vh;
	z-index: 10;
}

.intro-title {
	margin-top: auto;
	margin-bottom: auto;
	padding: 1rem;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 3.5vh;
	line-height: 4.5vh;
}

.intro-content {
	margin-top: auto;
	margin-bottom: auto;
	padding: 1rem;
	padding-right: 1.2rem;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
}

.blue-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background-color: #0C55A3;
	background-size: auto 100vh;
	z-index: 10;
}


/*
 *  Content container box
 */

.content-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #393939;
}

.gallery-2rows,
.gallery-3rows,
.gallery-4rows {
	color: #393939;
}

.gallery-2rows-doc {
	height: 40vh;
	/* width = 70.7% of height */
	width: 28.28vh;
}

.gallery-3rows-doc {
	height: 26.66666vh;
	/* width = 70.7% of height */
	width: 18.85333vh;
}

.gallery-4rows-doc {
	height: 20vh;
	/* width = 70.7% of height */
	width: 14.145vh;
}

.gallery-2rows-doc img,
.gallery-3rows-doc img,
.gallery-4rows-doc img {
	height: 100%;
	width: 100%;
}

.gallery-2rows-img {
	height: 40vh;
}

.gallery-3rows-img {
	height: 26.66666vh;
}

.gallery-4rows-doc {
	height: 20vh;
}

.gallery-2rows-img img,
.gallery-3rows-img img,
.gallery-4rows-img img {
	height: 100%;
}

.gallery-2rows-zigzag {
	color: #393939;
}

.gallery-zigzag-item {
	height: 28vh;
	width: auto;
}

.gallery-zigzag-item img {
	height: 100%;
	width: auto;
}

.zigzag-offset-top {
	margin-top: 4vh;
}


/*
 *  More/advanced container box
 */

.more-box {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background-color: #48AC33;
	z-index: 10;
}

.more-title {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2rem;
	padding-right: 1rem;
	text-align: right;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 6vh;
	line-height: 6vh;
	border-right: 4px solid #0C55A3;
}


/*
 *  News/media container box
 */

.news-box {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background-color: #636363;
	z-index: 10;
}

.news-title {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2rem;
	padding-right: 1rem;
	text-align: right;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 6vh;
	line-height: 6vh;
	border-right: 4px solid #48AC33;
}

.news-column img,
.news-column-reverse img {
	width: 100%;
	height: auto;
	min-width: 100%;
	max-width: 100%;
}

.news-single img {
	width: auto;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

/*
 *  Full size image container box
 */

.image-box {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-shrink: 0;
	flex-grow: 0;
	height: 100vh;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.image-box#glasovanje1 {
	background-image: url('../media1/glasovanje.jpg');
}

.image-box#glasovanje2 {
	background-image: url('../media2/glasovanje.jpg');
}


/*
 *  Supporting countries container box
 */

#zemljevid {
	background-image: url('../img/zemljevid.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

img#ar,
img#at,
img#au,
img#ca,
img#de,
img#se,
img#us {
	border: 2px solid transparent;
}

img#ar:hover,
img#at:hover,
img#au:hover,
img#ca:hover,
img#de:hover,
img#se:hover,
img#us:hover {
	border: 2px solid #48AC33;
}


/*
 *  Container box diagonals
 */

.heading-first-diagonal {
	content: '';
	background: url('../img/diagonala_zacetna_393939.svg') no-repeat center right;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.heading-last-diagonal {
	content: '';
	background: url('../img/diagonala_zakljucna_393939.svg') no-repeat center left;
	margin-right: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.intro-first-diagonal {
	content: '';
	background: url('../img/diagonala_modrozelena.svg') no-repeat center right;
	background-size: auto 100vh;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.blue-first-diagonal {
	content: '';
	background: url('../img/diagonala_zacetna_modra.svg') no-repeat center right;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.blue-last-diagonal {
	content: '';
	background: url('../img/diagonala_zakljucna_modra.svg') no-repeat center left;
	margin-right: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.green-first-diagonal {
	content: '';
	background: url('../img/diagonala_zacetna_zelena.svg') no-repeat center right;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.green-last-diagonal {
	content: '';
	background: url('../img/diagonala_zakljucna_zelena.svg') no-repeat center left;
	margin-right: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.gray-first-diagonal {
	content: '';
	background: url('../img/diagonala_zacetna_636363.svg') no-repeat center right;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.gray-last-diagonal {
	content: '';
	background: url('../img/diagonala_zakljucna_636363.svg') no-repeat center left;
	margin-right: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: 10;
}

.beige-first-diagonal {
	content: '';
	background: url('../img/diagonala_zacetna_F0EFD4.svg') no-repeat center right;
	margin-left: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: -10; /* Less than -1 which is for sticky footer */
}

.beige-last-diagonal {
	content: '';
	background: url('../img/diagonala_zakljucna_F0EFD4.svg') no-repeat center left;
	margin-right: auto;
	height: 100vh;
	width: 7.5vmax;
	z-index: -10; /* Less than -1 which is for sticky footer */
}


/*
 *  Different side and bottom notes
 */

.side-note {
	color: #393939;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	padding-left: 0.75rem;
	border-left: 3px solid #48AC33;
}

.bottom-note {
	color: #393939;
	background: url('../img/rob_zelen_zgoraj.svg') no-repeat top left;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
	padding-top: 0.75rem;
}

.full-note {
	color: #393939;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 1rem;
	padding-left: 0.75rem;
	padding-right: 1rem;
	padding-top: 30vh;
	height: 90vh;
	border-left: 3px solid #48AC33;
}

.gray-note {
	padding: 1.5rem 2.5rem 1.5rem 3.5rem;
	color: #FFFFFF;
	background: url('../img/icon_zapri.svg') no-repeat bottom left;
	background-color: #393939;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 0.85rem;
	line-height: 1rem;	
}

.blue-note {
	padding: 1.5rem 2.5rem 1.5rem 3.5rem;
	bottom: 20vh;
	color: #FFFFFF;
	background: url('../img/icon_zapri.svg') no-repeat top left;
	background-color: #0C55A3;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1.5rem;	
}

.more-side-note {
	position: absolute;
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-left: 1rem;
	padding-left: 0.75rem;
	border-left: 3px solid #0C55A3;
}

.more-bottom-note {
	color: #FFFFFF;
	background: url('../img/rob_moder_zgoraj.svg') no-repeat top left;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
	padding-top: 0.75rem;
}

.more-full-note {
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 1rem;
	padding-left: 0.75rem;
	padding-right: 1rem;
	padding-top: 30vh;
	height: 90vh;
	border-left: 3px solid #0C55A3;
}

.news-note {
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	padding-left: 0.75rem;
	border-left: 3px solid #48AC33;
}

.news-bottom-note {
	color: #FFFFFF;
	background: url('../img/rob_zelen_zgoraj.svg') no-repeat top left;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
	padding-top: 0.75rem;
}

.photo-note {
	color: #FFFFFF;
	padding: 2rem;
	background-color: #636363;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;	
}

.white-note {
	color: #393939;
	padding: 2rem;
	background-color: #FFFFFF;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;	
}

.beige-label {
	color: #0C55A3;
	padding: 2rem;
	text-align: right;
	background-color: #F0EFD4;
	font-family: 'Courier', monotype;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin-top: 20vh;
}

.white-box-bg {
	background-image: url('../img/ozadje_beloprozorno.svg');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100vh;
}

.white-box {
	margin-top: auto;
	margin-bottom: auto;
	color: #393939;
	background-color: #FFFFFF;
	padding: 1rem;
	padding-right: 1.2rem;
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	z-index: 10;
}

