/* The sidebar menu */
.navbar {
	height: 100vh; /* Full-height: remove this if you want "auto" height */
	width: 4.5rem; /* Set the width of the navbar */
	min-width: 4.5rem;
	max-width: 4.5rem;
	padding: 0.5rem;
	overflow-x: hidden; /* Disable horizontal scroll */
	background-color: #393939;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.navbar-brand {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 100;
}

.navbar-back {
	text-align: center;
	margin-top: 0.5rem;
}

#logo ~ .navbar-back svg #nazaj {
	stroke: #858585;
}
#logo:hover ~ .navbar-back svg #nazaj {
	stroke: #858585;
}

.navbar-title {
	position: absolute;
	bottom: 3.6rem;
	left: 4rem;
	width: 12rem;
	height: 3.6rem;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 1.125rem; /* 18px */
	line-height: 3.0rem;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	color: #858585;
	z-index: 100;
}

.navbar-toggler {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	z-index: 100;
}

/* Override: force transparent border */
.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
}

#navbar-cheeseburger {
	padding: 0.3rem;
	line-height: 1.55;
}

#navbarToggleMenu {
	position: fixed;
	width: 45vh;
	height: 100vh;
	line-height: 1.5;
	left: 4.5rem;
	top: 0;
	background-color: #393939;
	z-index: 100;
}

.menu {
	padding: 0.5rem;
	padding-top: 0;
	color: #858585;
}

.menu.active {
	color: #FFFFFF;
	background-color: #636363;
}

.menu.active .menu-number {
	color: #48AC33;
}

.menu:hover {
	background-color: #636363;
	cursor: pointer;
}

.menu:hover .menu-number {
	color: #48AC33;
}

.menu:hover .menu-title {
	color: #FFFFFF;
}

.menu-number {
	float: left;
	width: 10vh;
	padding-right: 1vh;
	height: 100%;
	font-family: 'Rubik Black';
	font-weight: bold;
	font-size: 10vh;
	text-align: right;
}

.menu-title {
	float: left;
	width: 30vh;
	margin-top: 4vh;
	text-align: left;
	font-family: 'Rubik';
	font-weight: bold;
	font-size: 3.6vh; /*1.8rem*/
	line-height: 3.4vh;
}

.menu-items {
	float: left;
	width: 30vh;
	margin-top: 2vh;
	text-align: left;
	font-family: 'Rubik';
	font-weight: normal;
	font-size: 2vh;
	line-height: 4vh;
}

.menu-items a {
	color: #FFFFFF;
	text-decoration: none;
}

.menu-items a:hover {
	color: #48AC33;
}

/* Navbar light borders */
.bl { border-left: 1px solid rgba(255,255,255,.1) }
.br { border-right: 1px solid rgba(255,255,255,.1) }
.bt { border-top: 1px solid rgba(255,255,255,.1) }
.bb { border-bottom: 1px solid rgba(255,255,255,.1) }

/* Navbar menu item heights */
.nh15 { height: 15vh }
.nh55 { height: 55vh }

/* Previous and Next buttons */
.nav-prev-btn,
.nav-next-btn {
  position: fixed;
  top: 45vh;
  height: 6.5vh;
  min-height: 3rem;
  width: 6vh;
  min-width: 2.5rem;
  color: #858585;
  /* Semi-transparent #393939 background */
  background-color: rgba(57, 57, 57, 0.8);
  padding: 0.5rem;
  cursor: pointer;
  z-index: 100;
}
.nav-prev-btn {
  left: 4.5rem; /* The width of the navbar */
}
.nav-next-btn {
  right: 0;
}

.nav-prev-btn:hover,
.nav-next-btn:hover {
  color: #FFFFFF;
  background-color: #48AC33;
}
.nav-prev-btn:hover svg #nazaj_24 {
	stroke: #FFFFFF;
}
.nav-next-btn:hover svg #naprej_24 {
	stroke: #FFFFFF;
}
