@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik-regular-webfont.woff2') format('woff2'),
         url('../font/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/rubik-bold-webfont.woff2') format('woff2'),
         url('../font/rubik-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Black';
    src: url('../font/rubik-black-webfont.woff2') format('woff2'),
         url('../font/rubik-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier';
    src: url('../font/courier-bold-webfont.woff2') format('woff2'),
         url('../font/courier-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	width: 100vw;
	background-color: #F0EFD4;
	/* Remove/hide scrollbars while scrolling still works */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none;    /* Firefox, except on Windows */
	/* For Firefox on Windows see:
	https://stackoverflow.com/questions/56875867/only-hide-scrollbar-not-disable-scrollbar-on-firefox-windows
	*/
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


footer {
	position: fixed;
	left: 0;
	top: 80vh;
	width: 100vw;
	height: 20vh;
	color: #FFFFFF;
	background-color: #393939;
	font-size: 0.875rem;
	margin-left: 4.5rem; /* Width of the navbar */
	z-index: 2;
}

.footer-item {
	height: 20vh;
	/* width = 133.3% of height */
	padding: 3vh 1vh 3vh 3vh;
}

.footer-item-label {
	height: 20vh;
	width: 9vh;
	padding: 3vh 0;
}


/* CRT aspect ratio dependant on viewport height */
.crt {
	height: 50vh;
	/* width = 133.3% of height */
	width: 66.66667vh;
}

.crt-sm {
	height: 14vh;
	/* width = 133.3% of height */
	width: 18.66667vh;
}


/* Force Slick Carousel to be full height */
.slick-slider, .slick-list, .slick-track {
	height: 100vh !important;
}


/* Absolute and relative position */
.abs { position: absolute }
.rel { position: relative }


/* Width */
.w5 { width: 5vw }
.w10 { width: 10vw }
.w15 { width: 15vw }
.w20 { width: 20vw }
.w25 { width: 25vw }
.w30 { width: 30vw }
.w33 { width: 33vw }
.w35 { width: 35vw }
.w40 { width: 40vw }
.w45 { width: 45vw }
.w50 { width: 50vw }
.w55 { width: 55vw }
.w60 { width: 60vw }
.w65 { width: 65vw }
.w67 { width: 67vw }
.w70 { width: 70vw }
.w75 { width: 75vw }
.w80 { width: 80vw }
.w85 { width: 85vw }
.w90 { width: 90vw }
.w95 { width: 95vw }
.w100 { width: 100vw }
.w130 { width: 130vw }
.w250 { width: 250vw }


/* Height */
.h10 { height: 10vh }
.h20 { height: 20vh }
.h30 { height: 30vh }
.h40 { height: 40vh }
.h50 { height: 50vh }
.h60 { height: 60vh }
.h70 { height: 70vh }
.h80 { height: 80vh }
.h90 { height: 90vh }
.h100 { height: 100vh }


/* Margins used in flex positioning */
.m1 { margin: 1vw }
.ml1 { margin-left: 1vw }
.mr1 { margin-right: 1vw }
.ml2 { margin-left: 2vw }
.mb4 { margin-bottom: 4vh }
.ml4 { margin-left: 4vw }
.mr4 { margin-right: 4vw }
.mt-auto { margin-top: auto }
.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.mb-auto { margin-bottom: auto }


/* Paddings used in flex positioning */
.p2 { padding: 2px }
.pl2 { padding-left: 2vw }
.pr2 { padding-right: 2vw }
.p2a { padding: 2vw }


/* z-index for divs that should be over footer */
.z10 { z-index: 10 }


/* Nested flex containers */
.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-row-centered {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-column,
.news-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.flex-column-reverse,
.news-column-reverse {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}


.img-vertical-scroll {
	overflow-y: auto;
	height: 100vh;
	padding-top: 2px;
	padding-bottom: 2px;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none;    /* Firefox */
}
.img-vertical-scroll::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

.flex-column-space {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: flex-start;
}

.flex-gallery-centered {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: stretch;
	justify-content: center;
}

.flex-zigzag {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}


/*
 *  Bootstrap 4 media queries
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	.content-box-inner {
		margin-top: 0;
		margin-bottom: 0;
	}
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	.content-box-inner {
		margin-top: 20vh;
		margin-bottom: 20vh;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	.content-box-inner {
		margin-top: 20vh;
		margin-bottom: 20vh;
	}

}

